<ion-content color="dark">
  <div class="content">
    <p *ngIf="opening">Opening the app...</p>
    <div *ngIf="!opening" class="panel-container">
      <div *ngIf="!isAndroid()" class="panel">
        <qrcode elementType="svg" [margin]="0" *ngIf="web" [qrdata]="appStoreUrl" [width]="160" [errorCorrectionLevel]="'M'"></qrcode>
        <p (click)="openAppStore()"><ion-icon name="logo-apple-appstore"></ion-icon>&nbsp;App Store</p>
      </div>
      <div *ngIf="!isIOS()" class="panel">
        <qrcode elementType="svg" [margin]="0" *ngIf="web" [qrdata]="playStoreUrl" [width]="160" [errorCorrectionLevel]="'M'"></qrcode>
        <p (click)="openPlayStore()"><ion-icon name="logo-google-playstore"></ion-icon>&nbsp;Play Store</p>
      </div>

    </div>
  </div>
</ion-content>