.content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.panel-container {
    display: flex;
    flex-direction: row;
}

.panel {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: x-large;
    margin-left: 40px;
}

ion-icon {
    font-size: 40px;
    margin-top: -5px;
    position: absolute;
    margin-left: -40px;
}

qrcode {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}