.content {
    max-width: 700px;
    margin: auto;
    margin-top: 10vh;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    margin-bottom: 30px;
}

a {
    cursor: pointer;
    color: var(--ion-color-primary-contrast);
    text-decoration: none;
}