<ion-content color="dark" [fullscreen]="true">
  <ion-fab slot="fixed" horizontal="end" vertical="start">
    <ion-fab-button (click)="settings()">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="container">
    <div [hidden]="!vm.busy">
      <ion-spinner color="light" name="crescent" />
    </div>

    <picture [hidden]="vm.busy">
      <img class="logo" src="assets/logo-nexus.svg" />
    </picture>

    <form [hidden]="vm.busy" (submit)="connect(vm.url)">
      <input enterkeyhint="go" id="devServerUrl" name="devServerUrl" placeholder="Type a URL (eg apple.com)"
        [(ngModel)]="vm.url" type="url" />
      <ion-icon class="qr" name="qr-code-sharp" (click)="scan()"></ion-icon>
    </form>

    <div class="ion-padding"></div>
    <div class="ion-padding"></div>
    <div [hidden]="vm.busy || vm.services.length === 0" class="shortcut-container">
      <app-shortcut *ngFor="let service of vm.services" (clicked)="open($event, service)" [service]="service"></app-shortcut>
    </div>
  </div>



</ion-content>
<ion-footer class="ion-no-border">
  <!-- <app-slides [hidden]="vm.busy || vm.hideHistory || vm.urls.length > 0 || vm.hideTutorial">
    <app-slide>
      <div class="card">
        <h4>Tutorial</h4>
        <p>Test your website or web app during development<br /><br />As you change and save code in your IDE your page
          will reload</p>
      </div>
    </app-slide>
    <app-slide>
      <div class="card">
        <h4>Start Dev Server</h4>
        <p>Run your local server on your Mac or Windows machine<br /><br />(or use the Ionic VS Code extension)</p>
      </div>
    </app-slide>
    <app-slide>
      <div class="card">
        <h4>Connect</h4>
        <p>Enter the external IP Address and port number of your local dev server<br /><br />(or Scan the QR Code shown
          in
          VS Code)</p>
        <ion-button (click)="vm.hideTutorial=true">Close</ion-button>
      </div>
    </app-slide>
  </app-slides> -->

  <!-- <div [hidden]="vm.busy || vm.hideHistory || vm.urls.length === 0">
    <p class="history line" *ngFor="let url of vm.urls" (click)="go(url)">{{url}}</p>
    <p class="history" (click)="clearHistory()">Clear History</p>
  </div> -->
</ion-footer>