.content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.rows {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

a {
    cursor: pointer;
    color: var(--ion-color-primary-contrast);
    text-decoration: none;
}

h3 {
    color: var(--ion-color-primary-contrast);
}

a:hover {
    border-bottom: 1px solid var(--ion-color-light);
}

.panel-container {
    display: flex;
    flex-direction: row;
}

.bubble {
    background-color: var(--ion-color-light);
    color: var(--ion-color-dark);
    border: 10px solid var(--ion-color-light);
    border-radius: 50px;
    position: absolute;
    margin-top: 100px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    align-items: flex-end;
}

.panel {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.store {
    font-size: x-large;
    margin-left: 40px;
    cursor: pointer;
}

.text {
    font-size: medium;
    margin: 5px;
    padding: 0;
    line-height: 1.6;
}

@media only screen and (min-width: 600px) {
    .text {
        font-size: x-large;
    }

    h3 {
        font-size: xx-large;
    }
}

ion-icon {
    font-size: 40px;
    margin-top: -5px;
    position: absolute;
    margin-left: -40px;
}

i {
    font-style: normal;
    font-family: 'Courier', monospace;
    color: var(--ion-text-color);
}

.logo {
    width: 180px;
  }
  

qrcode {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.line {
    border-top: 1px solid var(--ion-color-light);
    opacity: 0.2;
}

.capacitor-logo {
    margin-top: 25px;
    width: 100%;
}

.pad-top {
    margin-top: 25px;
}

.pad-bottom {
    margin-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    .bubble {
        color: var(--ion-text-color);
    }
}