.content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 75px;
}

.rows {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.link {
    cursor: pointer;
    color: var(--ion-text-color);
    text-decoration: none;
    font-weight: bold;

}

.panel-container {
    display: flex;
    flex-direction: row;
}

.bubble {
    background-color: var(--ion-color-light);
    color: var(--ion-color-dark);
    border: 10px solid var(--ion-color-light);
    border-radius: 50px;
    position: absolute;
    margin-top: 100px;
}

.plugin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;    
}

.panel {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.store {
    font-size: x-large;
    margin-left: 40px;
}

p.text {
    font-size: medium;
    margin:5px;
    padding: 0;
    line-height: 1.6;
    opacity: 0.5;
}

ion-icon {
    font-size: 40px;
    margin-top: -5px;
    position: absolute;
    margin-left: -40px;
}

qrcode {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.capacitor-logo {
    padding-bottom: 25px;
}

@media (prefers-color-scheme: dark) {
    .bubble {
        color: var(--ion-text-color);
    }
}